* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


@font-face {
    font-family: 'Bonheur Royale';
    src: url('fonts/BonheurRoyale-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Amaranth';
    src: url('fonts/Amaranth/Amaranth-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Anek Devanagari';
    src: url('fonts/AnekDevanagari-Regular.ttf') format('truetype');
}


:root {
    --bgc-default: #FFFFFF;
    --bgc-dark-theme: #262626;
    --main-color: #C762F6;
    --black: #000000;
    --grey: #D9D9D9;
}

.bgc-default-theme {
    background-color: var(--bgc-default);
    width: 100%;
    height: 100%;
    padding: 0;
}

.bgc-dark-theme {
    background-color: var(--bgc-dark-theme);
    width: 100%;
    height: 100%;
    padding: 0;
}

.logo {
    color: var(--main-color);
    font-family: 'Bonheur Royale';
    font-size: 5vw;
    padding: 3%;
    width: 100%;
    align-self: center;
    justify-content: center;
    margin-top: 1%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--bgc-default);
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:50px;
}

.nav-item {
    margin-left: 3.5rem;
}

.nav-link {
    color: var(--black);
    font-family: Amaranth;
    font-size: 15px;
    padding: 3%;
}

    .nav-link:hover {
        color: var(--main-color);
    }

.nav-logo {
    color: var(--main-color);
    font-family: 'Bonheur Royale';
    font-size:60px; 
    align-content:center;
    margin-left:30px;
    margin-top:10px;
    
}



.picture-container { /*this is good for mobile*/
    width: 490px;
    height: 490px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    padding: 0;
}

.rectangle {
    background-color: var(--grey);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.introduction {
    position: relative;
    width: 50%;
    height: 40%;
    margin-left: 7%;
    margin-top: 3%;
    /*background-color:green;*/
}

.center {
    text-align: center;
    padding: 5% 0;
}
.text-description {
    font-family:Anek Devanagari;
    font-size: 25px;
    line-height:35px;
}
.text-se {
    font-family: Amaranth;
    font-size: 40px;
    line-height:42px;
}
.text-name {
    font-family: Amaranth;
    font-size: 70px;
    margin: 0;
    line-height: 60px;
}


.page-title {
    font-size: 40px;
    font-family: Amaranth;
    color: black;
    opacity: 0.80;
    text-align: center;
    text-underline-position: under;
}

.page-line {
    height: 0.2%;
    width: 20%;
    background-color: var(--main-color);
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: repeat(5, 2fr);
    gap: 15px;
}

.grid-item {
    height: 50px;
    display: flex;
}

.icon-container {
    background-color: #F4E0FD;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
}

.text-default {
    font-family: 'Times New Roman';
    font-size: 20px;
    color: black;
    opacity: 0.8;
    padding: 1% 0;
}
@media only screen and (max-width: 668px) {
    .header {
        border-bottom: 1px solid var(--main-color);
    }

    .nav-menu {
        margin-top: 21px;
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-bottom: 1px solid var(--main-color);
        border-top: 1px solid var(--main-color);
        z-index: 999;
        display:flex;
        
    }

        .nav-menu.active {
            left: 0;
            
        }

    .nav-item {
        margin: 1.5rem 0;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
       
    }
    .nav-link {
        color: var(--black);
        font-family: Amaranth;
        font-size: 15px;
        
    }
    .nav-link:hover {
        color: var(--main-color);
    }
    
    

    .hamburger {
        display: block;
        cursor: pointer;
    }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
        }
    .picture-container { /*this is good for mobile*/
        width: 320px;
        height: 320px;
        scroll-margin:400px;
        bottom: 0;
        right: 0;
        position: absolute;
        display: flex;
        padding: 0;
        z-index:99999;
    }
    .picture-container-min { /*this is good for mobile*/
        width: 200px;
        height: 200px;
        scroll-margin: 400px;
        bottom: 0;
        right: 0;
        position: absolute;
        display: flex;
        padding: 0;
        z-index: 99999;
    }
    .text-description {
        font-family: Anek Devanagari;
        font-size: 15px;
        line-height: 15px;
    }
    .text-se {
        font-family: Amaranth;
        font-size: 30px;
    }
    .text-name {
        font-family: Amaranth;
        font-size: 45px;
        margin: 0;
        line-height: 40px
    }
    .introduction {
        position: relative;
        width: 70%;
        height: 50%;
        margin-left: 7%;
        margin-top: 3%;
        /*background-color:green;*/
    }
    .page-line {
        height: 0.2%;
        width: 60%;
        background-color: var(--main-color);
        margin: 0 auto;
    }


    .grid-container {
        display: grid;
        grid-template-columns: 1fr 20fr;
        grid-template-rows: repeat(5, 2fr);
        gap: 20px;
       
    }

    .grid-item {
        height: 50px;

        display: flex;
        
    }

    .icon-container {
        background-color: #F4E0FD;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
    }
    .text-default {
        font-family: 'Times New Roman';
        font-size:15px;
        color: black;
        opacity: 0.8;
        
        word-wrap:normal;
        
    }
}

